<%- include('partials/header'); -%>

<ul class="animes">
  <li class="anime">
    <img src="/ghost.png" alt="anime icon">
    <h4>Demon Slayer</h4>
  </li>
  <li class="anime">
    <img src="/ghost.png" alt="anime icon">
    <h4>Jujutsu Kaisen</h4>
  </li>
  <li class="anime">
    <img src="/ghost.png" alt="anime icon">
    <h4>Haikyu</h4>
  </li>
  <li class="anime">
    <img src="/ghost.png" alt="anime icon">
    <h4>Black Clover</h4>
  </li>
  <li class="anime">
    <img src="/ghost.png" alt="anime icon">
    <h4>Tokyo Revengers</h4>
  </li>
  <li class="anime">
    <img src="/ghost.png" alt="anime icon">
    <h4>Blue Lock</h4>
  </li>
</ul>

<%- include('partials/footer'); -%>