<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
      <img src="/ghost.png" alt="">
    </div>
    <div class="headings">
      <h2>Animix Play </h2>
      <h3>watch latest anime</h3>
      <a href="/anime" class="btn">Watch</a>
    </div>
  </header>
  